
html, body
{
    padding:0px;
    margin:0px 0px 0px 0px;
    height: 100%;
    background-color: red;
}
.clear { clear: both; }
p { margin: 0px 0px 15px 0px; }
h2, h3 { margin: 0px; }

.wrapper
{
    width: 100%;
    height: 100%;
    background-color: green;
}

.banner-container
{
    width: 1200px;
    height: 120px;
    margin: 0px auto;
    background-color: blue;
}
.content-wrapper
{
    width: 1200px;
    overflow:auto;
    margin: 0px auto;
    background-color: yellow
}
.content-container
{
    float: left;
    width: 800px;
    height: 100%;
    padding: 40px 15px 30px 15px;
    background-color: orange;
}
.sidebar-container
{
    float: left;
    width: 280px;
    height: 100%;
    padding: 40px 25px 30px 65px;
    margin: 0px;
    background-color: purble;
}
.pagination { display:none }

.logo
{
    float: left;
    display: inline-block;
    margin: 25px 15px;
    background-color: red;
    width: 200px;
    height: 70px;
}

ul
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.event-list
{
    list-style-type: none;
}
.event-list li b
{
    width: 150px;
    margin: 5px 15px 0px 0px;
}
.element-link
{
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}
#navigation
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 700px;
    display:table;
}

#navigation li
{
    width:80px;
    height: 70px;
    width: 150px;
    margin: 25px 25px 25px 0px;
    text-align:center;
    float:left;
    list-style:none;
    display: table-cell;
    background-color:#cccccc;
}
#navigation .disabled
{
    background-color:red;
}
.artist
{
    list-style-type: none;
    float:left;
    padding: 0px 10px 20px 0px;
}
.post-entry
{
    list-style-type: none;
    width: 100%;
    padding: 0px 0px 30px 0px;
}
.post-thumb
{
    float: left;
    vertical-align:baseline;
    padding: 0px 30px 0px 0px;
}


.gallery .gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
	width: auto;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 14px);
	max-width:         calc(50% - 14px);
	width: auto;
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 11px);
	max-width:         calc(33.3% - 11px);
	width: auto;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 9px);
	max-width:         calc(25% - 9px);
	width: auto;
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 8px);
	max-width:         calc(20% - 8px);
	width: auto;
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 7px);
	max-width:         calc(16.7% - 7px);
	width: auto;
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 7px);
	max-width:         calc(14.28% - 7px);
	width: auto;
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 6px);
	max-width:         calc(12.5% - 6px);
	width: auto;
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 6px);
	max-width:         calc(11.1% - 6px);
	width: auto;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
	margin-left: 12px; /* Compensate for the default negative margin on .gallery, which can't be changed. */
}

.gallery .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery .gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
