html, body
{
    font-family: 'Raleway';
    padding:0px;
    margin:0px 0px 0px 0px;
    height: 100%;
	font-weight: 600;
	letter-spacing: 1px; 
	font-size: 9pt;
    -webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.clear { clear: both; }
.center { text-align: center; }

p { margin: 0px 0px 15px 0px; line-height: 15pt; }
.spacer { margin: 0px 0px 40px 0px; }
a { color: #aaaaaa; }
h2 { margin: 0px; font-size: 12pt; letter-spacing: 3px; text-transform: uppercase; }
h3 { margin: 0px; font-size: 12pt; }
ul
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.date { font-size: 9pt; color: #aaaaaa; font-weight: 700; letter-spacing: 2px; }
.disclaimer { margin: 0px 0px 15px 0px; line-height: 10pt; font-size: 7pt; font-weight: 400; text-align: center; }

.element-link
{
    color: inherit;
    text-decoration: inherit;
}
.element-link-2
{
    color: inherit;
    text-decoration: inherit;
}
.element-link-3
{
    color: inherit;
    text-decoration: inherit;
	color: #aaaaaa;
}
.element-link-2:hover
{
	color: #aaaaaa;
}
.element-link-4
{
	margin: 30px 0px 0px 0px;
    color: inherit;
	display: block;
    text-decoration: inherit;
	color: #aaaaaa;
}

.wrapper
{
	margin: 30px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

.banner-container
{
    width: 1120px;
    height: 122px;
    margin: 0px auto;
}
.content-wrapper
{
    width: 1120px;
    overflow:auto;
    margin: 0px auto;
}
.content-container
{
    float: left;
    width: 700px;
    height: 100%;
    padding: 40px 15px 30px 15px;
}
.sidebar-container
{
    float: left;
    width: 300px;
    height: 100%;
    padding: 40px 25px 30px 65px;
    margin: 0px;
}
.pagination { display:none }
.alignleft {
	float: left;
	margin: 7px 24px 7px 0;
}

.alignright {
	float: right;
	margin: 7px 0 7px 24px;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 7px auto;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.logo
{
    float: left;
    display: inline-block;
    margin: 25px 15px;
    width: 249px;
    height: 70px;
	background-image:url(../images/NillerLogo.png);
}
.fb-icon
{
	background-image:url(../images/fb.png);
}
.sc-icon
{
	background-image:url(../images/sc.png);
}
.insta-icon
{
	background-image:url(../images/insta.png);
}

.event-list
{
    list-style-type: none;
    margin: 20px 0px 0px 0px;
}
.event-list li
{
    margin: 0px 0px 8px 0px;
}
.event-list li b
{
    width: 150px;
    margin: 0px 15px 0px 0px;
}

.tag-list
{
    list-style-type: none;
    margin: 20px 0px 0px 0px;
}
.tag-list li
{
    margin: 0px 0px 8px 0px;
}
.tag-list li b
{
    width: 150px;
    margin: 0px 15px 0px 0px;
}
#navigation {
  list-style-type: none;
  margin: 0px 20px;
  padding: 0;
  float: right;
  width: 725px;
  display: table;
  height: 70px;
  vertical-align: middle
}
#navigation li
{
    height: 30px;
    width: 140px;
    margin: 45px 0px 0px 0px;
    float:left;
    list-style:none;
	text-align: center;
    display: table-cell;
}
#navigation li a { margin: 0px; display: block; width: 100%; height: 100%; }

#site-icons { height: 100px; margin: 40px 0px 40px 0px; }
#site-icons li
{
    height: 100px;
    width: 100px;
    margin: 0px 0px 0px 0px;
    float:left;
    list-style:none;
    display: table-cell;
}
#site-icons li a { margin: 0px; display: block; width: 100%; height: 100%; }

.artist
{
    list-style-type: none;
    float:left;
    padding: 0px 5px 20px 0px;
}
.niller
{
    list-style-type: none;
    float:left;
    padding: 0px 5px 20px 0px;
}
.post-entry
{
    list-style-type: none;
    width: 100%;
    padding: 0px 0px 30px 0px;
}
.post-thumb
{
    float: left;
    vertical-align:baseline;
    padding: 0px 30px 0px 0px;
}

.gallery .gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
	width: auto;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 14px);
	max-width:         calc(50% - 14px);
	width: auto;
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 11px);
	max-width:         calc(33.3% - 11px);
	width: auto;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 9px);
	max-width:         calc(25% - 9px);
	width: auto;
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 8px);
	max-width:         calc(20% - 8px);
	width: auto;
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 7px);
	max-width:         calc(16.7% - 7px);
	width: auto;
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 7px);
	max-width:         calc(14.28% - 7px);
	width: auto;
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 6px);
	max-width:         calc(12.5% - 6px);
	width: auto;
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 6px);
	max-width:         calc(11.1% - 6px);
	width: auto;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
	margin-left: 12px; /* Compensate for the default negative margin on .gallery, which can't be changed. */
}

.gallery .gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery .gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
